// Variables
$base-size: 1rem;
$header-height: 4rem;
$container-width: 57.75rem;
$menu-max-width: 33.125rem;

$color--brown: rgb(255,223,186);
$color--dark-brown: rgb(171,154,136);
$color--blue: rgb(1,69,147);
$color--gray: rgb(223,227,232);